<% currently_at t('menu.home') %> <!-- t('menu.home') - переводы для активного пункта меню, подставит значение из соотв каталога -->
<% provide :page_title, t('.title') %> <!-- переводы для  -->

<h1><%= t '.title' %></h1> <!-- переводы для заголовка pages.index.title -->
