<h2>Список парикмахеров</h2>

<ul>
  <% @barbers.each do |barber| %>
    <!-- 1. Просто список -->
    <li><%= barber.name %></li> <!-- тк barber это объект-сущность в которой хранятся данные о строке таблицы barbers, которую мы задали в фаиле миграции то можем обращаться через метод(название колонки) который мы задавали в фаиле миграции(t.text :name) -->

    <!-- 2. В виде ссылок ведущих на страницы парикмахеров(для универсальных обработчиков для однотипных страниц) -->
    <li><a href="/barber/<%= barber.id %>"><%= barber.name %></a></li>

    <!-- 3. Нативный вариант тоже работеат (??) -->
    <li><%= barber['name'] %></li>
  <% end %>
</ul>
