<h2>Add New Post</h2>

<form action="/new" method="POST">

	<textarea name="content" rows="6" placeholder="Введите здесь текст поста"></textarea><br>

	<label>Введите свое имя</label><br>
	<input type="text" name="author"><br>
	
 	<button type="submit">Отправить</button>
</form>
