<h1>Edit question</h1>

<!-- Рендерим нашу фрму из фаила _form.html.erb -->
<%= render 'form' %>
<!-- render - используем для того чтоб подставить на эту позицию какуюто разметку из паршала -->
<!-- 'form' - обозначает фаил _form.html.erb из которого будет взята разметка -->

<!-- По умолчанию берет фаил из текущей дериктории , если хотим отрендерить из другой директории то пишем например  -->
<%= render 'pages/form' %>
