<!--                      Хэлпер для названия вкладки с названием страницы -->

<!-- Данную конструкцию с другими значениями вместо 'Questions' можем добавить на другие страницы чтобы изменять название во вкладке -->
<% provide :page_title, 'Questions' %>
<!-- provide  - хэлпер передающий значение 'Questions' для конкретного yield с именем :page_title -->


<!--                      Паршал для меню сайта, для передачи через второстепенный yield -->

<!-- Подключаем наш хэлпер, рендерищий меню и передающий имя страницы -->
<!-- Придется его подключить на каждой странице, а иначе меню не будет отображаться, тк рендерится оно именно в хэлпере, а в yield :main_menu только передается.  (?? ВТФ это точно нормальный подход просто для того чтоб подсветить мтраницу в меню ??) -->
<% currently_at 'Questions' %>

<h1>Questions</h1>
