<h1>Hi</h1>

<p>You typed: <%= @login %></p> <!-- Специальный синтаксис .erb размещающий значение переменной @login в html коде. В этих специальных кавычках мы можем писать любой рубикод. Это чемто похоже на интерполяцию -->
<p>Your password: <%= @password %></p>
<p><%= @denied %></p>

<form action="/" method="POST"> <!-- Форма для метода post на странице по адресу '/' через нее отправляем данные на наш сервер -->

  <input type="text" name="aaa"> <!-- Данные введенные в это поле обозначаются значением атрибута name -->
  <input type="password" name="bbb">
  <input type="submit"> <!-- активизирует пост запрос и соответсвенно все действия заданные методом post в рубифаиле -->

</form>
