<h2>Список парикмахеров</h2>

<ul>
  <% @barbers.each do |barber| %>
    <!-- 1. Просто список -->
    <li><%= barber.name %></li> <!-- тк barber это объект-сущность в которой хранятся данные о строке таблицы barbers, которую мы задали в фаиле миграции то можем обращаться через метод(название колонки) который мы задавали(t.text :name и Barber.create :name => 'Jessie Pinkman') -->

    <!-- 2. В виде ссылок ведущих на страницы парикмахеров(к теме Универсальные обработчики для однотипных страниц) -->
    <li><a href="/barber/<%= barber.id %>"><%= barber.name %></a></li>
  <% end %>
</ul>
