<h2>Thank you!</h2>
<p>Your order has been plased</p>



<!-- Скрипт для очистки корзины(кнопка сама обновится так этот скрипт в лэйаут будет выше скрипта обновления, еслиб была ниже добавили бы обновляющие функции тоже) -->
<script>
  $(function() {
    window.localStorage.clear();
  });
</script>
