<h1>Hello</h1>

<p>You typed: <%= @login %></p> <!-- Специальный синтаксис .erb размещающий любой рубикод(тут значение переменной @login) в html коде, при помощи этих специальных кавычк. Чемто похоже на интерполяцию -->
<p>Your password: <%= @password %></p>
<p><%= @denied %></p>

<!-- Форма для метода post на странице по адресу '/' через нее отправляем данные на наш сервер -->
<form action="/" method="POST">
  <!-- action="/"  - задает обработчик определенного URL, в который будут отправляться данные из формы -->
  <!-- method="POST"  - задает метод при помощи которого будут отправлены данные из формы  -->

  <input type="text" name="aaa"> <!-- Данные введенные пользователем в это поле обозначаются значением "aaa" атрибута name и помещаются в метод params в виде :name => 'введенный пользователем текст' -->
  <input type="password" name="bbb">
  <input type="submit"> <!-- активизирует пост запрос и отправляет данные в обработчик с методом и URL-адресом, из значений атрибутов тега формы -->
</form>
