<h1>Hello</h1>

<p>You typed: <%= @login %></p> <!-- Синтаксис .erb размещающий любой рубикод(тут @login) в html коде, при помощи этих специальных кавычк. Чемто похоже на интерполяцию -->
<p>Your password: <%= @password %></p>
<p><%= @denied %></p>

<!-- Форма для отправки POST-запроса с данными на сервер, он будет обработан на нашем сервере методом post с аргументом '/' -->
<form action="/" method="POST">
  <!-- action="/"     - задает URL для передачи данных формы в соответсвующий ему обработчик -->
  <!-- method="POST"  - задает метод при помощи которого будут отправлены данные из формы  -->

  <input type="text" name="aaa"> <!-- name="aaa" - зададим для поля атрибут name значение которого(тут "aaa") будет ключем в методе params под которым будут значением данные что пользователь ввел в это поле (:name => 'введенный пользователем текст') -->
  <input type="password" name="bbb">
  <input type="submit"> <!-- активизирует POST-запрос и отправляет данные в обработчик с методом и URL-адресом, из значений атрибутов тега формы -->
</form>
