<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>layout</title>
    <link href="/barbershop_styles.css" rel="stylesheet" media="all">
  	<!-- /barbershop_styles.css  - используем относительный путь от корня сайта(папка public тоже как корень) -->
    <!-- Очистите кэш страницы если не реагиркует на изменения в css фаиле - ctrl + shift + R (Mac: cmd + shift + r)-->
    <script src="/vendor/jquery-1.9.1.min.js"></script> <!-- Вар 1 бутстрапное ? -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- Вар 2 -->
    <script src="/pizzashop.js"></script> <!-- подключение в Синатре через / -->
  </head>
  <body>

    <h2 style="color: lightblue;"> <!-- блок меню -->
      <a href="/">Главная</a><br>
      <a href="/showusers">Показать вывод из БД(Барбершоп)</a><br>
      <a href="/new">Написать пост(Лепрозорий)</a><br>
    </h2>

    <div><!-- блок сообщения об ошибке -->
      <% if @error && @error != '' %> <!-- Если переменная @error определена и не равна пустой строке то...  -->
        <div style="color: red;"><%= @error %></div> <!-- ...отображается данный блок -->
      <% end %>
		</div>

    <%= yield %> <!-- Сюда добавляется код из метода erb -->

  </body>
</html>
