<!-- Вариант вывода из БД 1. Который я сам сделал как ДЗ к уроку 26. -->
<!-- Создаем таблицу и интегрируем в нее переменные с тегами для столбцов и данными из бд в них -->
<table border="1" width="1100px" style="font-size: 2rem;">
  <caption>Записавшиеся:</caption>
  <thead><tr><%= @columns %></tr></thead>
  <tbody><%= @users %></tbody>
</table>
