<% if object.errors.full_messages.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- object  - (можно назвать как угодно) общее имя для объектов проверяемых на ошибки, чтобы можно было использовать этот паршал для разных сущностей -->
